body {
    

    margin: 0%;

}



.first {
    height: 38px;
    width: 100%;
    background-color:black;
    position: relative;
}
.first p{
    color: white;
    margin: 0;
    position: absolute;
    right: 45px;
    top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.first p:hover{
    color: rgb(166, 166, 166);
    transition: 0.9s;
    cursor: pointer;
}
.second{
    height: 65px;
    width: 100%;
      display: flex;
    background-color:#252728;
}
.second img{
    width: 110px;
    color: #fff;
    height: 100px;
    margin-left: 20px;
   
}
.second ul{
    width: 100%;
  color: #fff;
  list-style-type: none;
  display: flex;
  gap: 40px;
  text-align: center;
  margin-left: 300px;
  
}



.pic-1{
    width: 100%;
    height: 730px;
    display: flex;
    position:relative;
    display: flex;
    justify-content: center;
}
.banner-1{
     width: 100%;
    height: 730px;
}
.pic-1 button{
    position:absolute;
    width: 200px;
    height: 50px;
    background: none;
    color: white;
    border-color: white;
    margin-top:560px;    
}
.pic-1 button:hover{
    background-color: white;
    color: black;
}
.last-1{
    width: 100%;
    height: 200px;
    background-color: #252728;
}
.last-1 p{
    color: #fff;
    gap: 50px;
    margin: 0px;
   padding-left: 40px;
    
}
.pic-2{
    width: 100%;
    height: 500px;
    display: flex;
    position:relative;
    display: flex;
    justify-content: center;
}
.banner-2{
    width: 100%;
    height: 500px;
}

.last-1{
    position: relative;
}
.contact{
    position: absolute;
    left: 300px;
    top: 100px;
}
.cookies{
    position:absolute;
    left:380px ;
    top:100px;
}
.data{
    position:absolute;
    left:480px;
    top:100px;
}
.follow{
    position:absolute;
    left: 950px;
     top:100px;
}
.youtube{
    position: absolute;
    left:1300px ;
    width:25px;
    top: 105px;
}
.linkedin{
    position: absolute;
    left:1250px ;
    width:25px;
    top: 100px;
}




